<h1><%= @link.title %></h1>
<h1><%= @link.url %></h1>

<% if @link.user == current_user %>
  <%= link_to 'Edit', edit_link_path(@link) %>
  <%= link_to 'Delete', @link, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end  %>
